@import './components/pv-player.styl'
@import './components/pv-utils.styl'
@import './components/pv-painel.styl'
@import './components/pv-controls.styl'
@import './components/pv-progressbar.styl'
@import './components/pv-timetext.styl'
@import './components/pv-buttons.styl'
@import './components/pv-chat.styl'
    @import './components/pv-canvas.styl'

.puravita-player
    & *
        scrollbar-color rgba(255, 255, 255, 0.5) transparent
        scrollbar-width thin
        &::-webkit-scrollbar 
            width 0.3em
        &::-webkit-scrollbar-track 
            background-color transparent
        &::-webkit-scrollbar-thumb 
            background rgba(255, 255, 255, 0.5)
            backdrop-filter blur(4px)
            opacity 0

    