.puravita-buttons
    width 90%
    margin 0.822em auto
    padding 0.322em 0
    display flex
    align-items center
    justify-items center
    flex-wrap wrap
    z-index 9
    position relative
    &_left-side,
    &_right-side,
    &_speed-playbackrate label,
    &_volume,
    &_title,
    &_volume_button,
    &_volume_button_active,
    &_search_button,
    &_search_button_active,
    &_volume_container,
    &_search_container,
    &_config_container,
    &_config_button,
    &_config_button_active,
    &_config_button_input-box
        display flex
        align-items center
        flex-wrap wrap
    &_volume_container,
    &_search_container,
    &_config_container
        height 34px
    &_config_container
        justify-content flex-end
    &_left-side
        width 70%
    &_right-side
        width 30%
    &_left-side, &_speed-playbackrate, &_volume, &_title   
        justify-content start
    &_right-side
        justify-content flex-end
    &_btn-play
        @extends .pv-glass
        width 34px
        height 34px
        border-radius 100%
        position relative
        & svg
            position absolute
            width 40%
            top 0
            bottom 0
            left 0
            right 0
            margin auto
    &_speed-playbackrate
        @extends .pv-glass
        border-radius 20px
        position relative
        transition box-shadow 220ms ease
        &_figure
            width 38px
            padding 0 0 0.2em 0
            & svg
                margin 0 auto
                width 20px
        &_label
            text-align left
            width 40px
            color #ffffff
            font-size 0.9rem
            font-weight bold
            line-height 0.9rem
        &_options
            background-color #fff
            position absolute
            width 100%
            left 0
            bottom 110%
            border-radius 16px
            padding 0.85rem
            transition 220ms transform ease, 220ms opacity linear
            transform-origin center bottom
            overflow hidden
        &_list
            width 100%
        &_item
            font-size 0.845rem
            padding 0.255em 0
            transition color 120ms ease, opacity 320ms ease
            & > label
                cursor pointer
            &:hover
                color rgba(0,0,0, 0.5)
        &_trigger
            &:not(:checked) ~ .puravita-buttons_speed-playbackrate_options
                opacity 0
                transform scaleY(0)
            &:not(:checked) ~ .puravita-buttons_speed-playbackrate_item
                opacity 0
                transition opacity 620ms ease
        &_button-mask
            cursor pointer
            & *
                cursor pointer
    &_speed-playbackrate_trigger, &_volume_trigger, &_search_trigger, &_config_trigger
        display none
    &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title
        height 34px
        margin 0 0 0 0.645em
    &_volume_button, &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title, &_volume_container, &_search_container, &_config_button, &_config_button_active
        cursor pointer
    &_speed-playbackrate label
        height 100%
    &_volume_button, &_search_button, &_subtitles_button, &_chomecast_button, &_aside_button, &_config_button
        @extends .pv-glass
    &_volume_button, &_volume_button_active, &_search_button, &_search_button_active, &_subtitles_button, &_chomecast_button, &_aside_button, &_config_button, &_config_button_active
        border-radius 100%
        width 34px
        height 34px
        & svg
            width 16px
            margin 0 auto    
    &_volume_container, &_search_container, &_config_container
        border-radius 60px
        width 34px
        transition background-color 220ms ease, width 120ms ease
        position relative
    &_volume_button, &_volume_button_active, &_search_button, &_search_button_active, &_config_button_active
        transition 200ms linear opacity 
    &_volume_button_active, &_search_button_active
        position absolute
        top 0
        left 0
        opacity 0
    &_config
        position relative
        &_trigger
            &:not(:checked) ~ .puravita-buttons_config_button_input-box_list-box .puravita-buttons_config_button_input-box_options
                opacity 0
                transform scaleY(0)
            &:not(:checked) ~ .puravita-buttons_config_button_input-box_item
                opacity 0
                transition opacity 620ms ease
    &_config_button_active
        position absolute
        top 0
        right 0
        opacity 0
    &_config_button_input-box
        cursor pointer
        &_text
            padding 0 0.15rem
            font-size 0.75rem
        &_options
            background-color #fff
            position absolute
            width 100%
            left 0
            bottom 110%
            border-radius 16px
            padding 0.85rem
            transition 220ms transform ease, 220ms opacity linear
            transform-origin center bottom
            overflow hidden
        &_item
            font-size 0.845rem
            padding 0.255em 0
            transition color 120ms ease, opacity 320ms ease
            & > label
                cursor pointer
            &:hover
                color rgba(0,0,0, 0.5)
        
    &_volume_trigger, &_search_trigger, &_config_trigger
        &:checked ~ .puravita-buttons_volume_container, &:checked ~ .puravita-buttons_search_container, &:checked ~ .puravita-buttons_config_container
            width 184px
            background-color #FFFFFF
            & .puravita-buttons_volume_button, & .puravita-buttons_search_button, & .puravita-buttons_config_button
                opacity 0
                &_active
                    opacity 1
        &:not(:checked) ~ .puravita-buttons_volume_container, &:not(:checked) ~ .puravita-buttons_search_container, &:not(:checked) ~ .puravita-buttons_config_container
            & .puravita-buttons_volume_button_input-box, & .puravita-buttons_search_button_input-box, & .puravita-buttons_config_button_input-box
                transition-delay 1ms
                transition all 20ms linear
                width 0
                height 0
                opacity 0
    &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box
        width 120px
        height 34px
        margin 0 5px
        overflow hidden
        transition-delay 400ms
        transition all 120ms linear
    &_volume_button_input
        height 34px
        margin 0
        -webkit-appearance none
        width 100%
        cursor pointer
        &:focus
            outline none
            &::-webkit-slider-runnable-track
                background-color #000000
            &::-moz-range-track
                background-color #000000
        &::-webkit-slider-runnable-track
            transition background-color 220ms ease
            background-color rgba(0, 0, 0, 0.4)
            height 2px
            border-radius 4px      
        &::-webkit-slider-thumb
            background-color #000000
            -webkit-appearance none
            width 16px
            height 16px
            border-radius 100%
            margin -7px 0 0 0
        &::-moz-range-track
            transition background-color 220ms ease
            background-color rgba(0, 0, 0, 0.4)
            height 2px
            border-radius 4px
        &::-moz-range-thumb
            background-color #000000
            -webkit-appearance none
            width 16px
            height 16px
            border-radius 100%
            margin -7px 0 0 0
            border none
    &_search_button_input
        width 90%
        margin 0 auto
        height 34px
        padding 0 0.62rem
        font-size 0.9rem
        &:focus
            outline none
    &_chomecast_button, &_aside_button
        margin 0 0.645em 0 0
    &_title
        font-size 0.9rem
        color #ffffff
        overflow hidden

.puravita-controller-sidebar 
    max-width 80%
    & .puravita-buttons
        &_btn-play
            width 30px
            height 30px
            & svg
                width 30%
        &_speed-playbackrate
            &_figure
                width 38px
                padding 0 0 0.2em 0
            &_label
                width 30px
                font-size 0.733rem
        
        &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title, &_config,
        &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box, &_search_button_input, &_volume_button_input      
            height 30px
        &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title
            margin 0 0 0 0.445em
        &_chomecast_button, &_aside_button
            margin 0 0.445em 0 0
        &_volume_button, &_volume_button_active, &_search_button, &_search_button_active, &_subtitles_button, &_chomecast_button, &_aside_button, &_config_button, &_config_button_active,
        &_volume_container,
        &_search_container,
        &_config_container
            width 30px
            height 30px
            & svg
                width 14px
                margin 0 auto
        &_title
            font-size 0.8rem


.puravita-player-screen-480p
    max-width 80%
    & .puravita-buttons
        &_btn-play
            width 30px
            height 30px
            & svg
                width 30%
        &_speed-playbackrate
            &_figure
                width 38px
                padding 0 0 0.2em 0
            &_label
                width 30px
                font-size 0.733rem
        
        &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title, &_config,
        &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box, &_search_button_input, &_volume_button_input      
            height 30px
        &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title
            margin 0 0 0 0.445em
        &_chomecast_button, &_aside_button
            margin 0 0.445em 0 0
        &_volume_button, &_volume_button_active, &_search_button, &_search_button_active, &_subtitles_button, &_chomecast_button, &_aside_button, &_config_button, &_config_button_active,
        &_volume_container,
        &_search_container,
        &_config_container
            width 30px
            height 30px
            & svg
                width 14px
                margin 0 auto
        &_title
            font-size 0.8rem

        &_volume_trigger, &_search_trigger, &_config_trigger
            &:checked ~ .puravita-buttons_volume_container, &:checked ~ .puravita-buttons_search_container, &:checked ~ .puravita-buttons_config_container
                width 140px
        &_config_button_input-box
            & svg
                display none
        &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box
            width 100px
            height 30px
            margin 0 3px

        &_volume_button_input
            height 30px
            width 85%
            &::-webkit-slider-thumb
                width 14px
                height 14px
                margin -6px 0 0 0
            &::-moz-range-track
                height 2px
            &::-moz-range-thumb
                width 14px
                height 14px
                margin -6px 0 0 0

        &_title
            font-size 0.60rem
    & .puravita-controller-sidebar 
        max-width 80%
        & .puravita-buttons
            &_btn-play
                width 22px
                height 22px
                & svg
                    width 36%
            &_speed-playbackrate
                &_figure
                    width 30px
                    padding 0 0 0.2em 0
                    & svg
                        width 14px
                &_label
                    width 30px
                    font-size 0.522rem
            
            &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title, &_config,
            &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box, &_search_button_input, &_volume_button_input      
                height 22px
            &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title
                margin 0 0 0 0.445em
            &_chomecast_button, &_aside_button
                margin 0 0.445em 0 0
            &_volume_button, &_volume_button_active, &_search_button, &_search_button_active, &_subtitles_button, &_chomecast_button, &_aside_button, &_config_button, &_config_button_active,
            &_volume_container,
            &_search_container,
            &_config_container
                width 22px
                height 22px
                & svg
                    width 10px
                    height 10px
                    margin 0 auto
            &_title
                font-size 0.6rem

            &_subtitles_button
                display block

            &_volume_trigger, &_search_trigger, &_config_trigger
                &:checked ~ .puravita-buttons_volume_container, &:checked ~ .puravita-buttons_search_container, &:checked ~ .puravita-buttons_config_container
                    width 100px

            &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box
                width 60px
                height 22px
                margin 0 3px
            &_volume_button_input
                height 22px
                &::-webkit-slider-thumb
                    width 12px
                    height 12px
                    margin -5px 0 0 0
                &::-moz-range-track
                    height 2px
                &::-moz-range-thumb
                    width 12px
                    height 12px
                    margin -5px 0 0 0
            &_search_button_input
                width 90%
                height 22px
                display block
                padding 0 0.6em
                font-size 0.6rem

            &_config_button_input-box
                cursor pointer
                &_text
                    font-size 0.46rem
                & svg
                    display none
                &_options
                    width 100%
                    bottom 110%
                    padding 0.85rem

.puravita-player-screen-360p
    max-width 80%
    & .puravita-buttons
        &_btn-play
            width 24px
            height 24px
            & svg
                width 38%
        &_speed-playbackrate
            &_figure
                width 28px
                padding 0 0 0.2em 0
                & svg
                    width 20px
            &_label
                width 28px
                font-size 0.733rem
        
        &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title, &_config,
        &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box, &_search_button_input, &_volume_button_input      
            height 24px
        &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title
            margin 0 0 0 0.445em
        &_chomecast_button, &_aside_button
            margin 0 0.445em 0 0
        &_aside_button
            display none
        &_volume_button, &_volume_button_active, &_search_button, &_search_button_active, &_subtitles_button, &_chomecast_button, &_aside_button, &_config_button, &_config_button_active,
        &_volume_container,
        &_search_container,
        &_config_container
            width 24px
            height 24px
            & svg
                width 12px
                height 12px
                margin 0 auto
        &_title
            font-size 0.6rem

        &_volume_trigger, &_search_trigger, &_config_trigger
            &:checked ~ .puravita-buttons_volume_container, &:checked ~ .puravita-buttons_search_container, &:checked ~ .puravita-buttons_config_container
                width 120px
        &_config_button_input-box
            & svg
                display none
        &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box
            width 80px
            height 24px
            margin 0 3px

        &_volume_button_input
            height 24px
            width 85%
            &::-webkit-slider-thumb
                width 10px
                height 10px
                margin -4px 0 0 0
            &::-moz-range-track
                height 2px
            &::-moz-range-thumb
                width 10px
                height 10px
                margin -4px 0 0 0

        &_title
            font-size 0.50rem
        &_search_button_input
            font-size 0.62rem
            display block
        &_config_button_input-box
            &_text
                font-size 0.46rem
    & .puravita-controller-sidebar 
        max-width 100%

.puravita-player-screen-mobile
    max-width 80%
    & .puravita-buttons
        &_btn-play
            width 20px
            height 20px
            & svg
                width 38%
        &_speed-playbackrate
            &_figure
                width 0
                padding 0 0 0.2em 0
                & svg
                    display none
            &_label
                width 40px
                text-align center
                padding 0 0.3rem
                font-size 0.733rem
            &_options
                padding 0 0 0 0
                border-radius 8px
            &_item
                & label
                    text-align center
                    display block
        
        &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title, &_config,
        &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box, &_search_button_input, &_volume_button_input      
            height 20px
        &_volume, &_speed-playbackrate, &_search, &_subtitles, &_title
            margin 0 0 0 0.445em
        &_chomecast_button, &_aside_button
            margin 0 0.445em 0 0
        &_aside_button, &_chomecast_button, &_config_button, &_title, &_subtitles_button, &_search_button, &_title,&_right-side
            display none
        &_left-side
            max-width 100%
            width 100%
        &_volume_button, &_volume_button_active, &_search_button, &_search_button_active, &_subtitles_button, &_chomecast_button, &_aside_button, &_config_button, &_config_button_active,
        &_volume_container,
        &_search_container,
        &_config_container
            width 20px
            height 20px
            & svg
                width 12px
                height 12px
                margin 0 auto
        &_title
            font-size 0.6rem
        &_volume_trigger, &_search_trigger, &_config_trigger
            &:checked ~ .puravita-buttons_volume_container, &:checked ~ .puravita-buttons_search_container, &:checked ~ .puravita-buttons_config_container
                width 120px
        &_config_button_input-box
            & svg
                display none
        &_volume_button_input-box, &_search_button_input-box, &_config_button_input-box
            width 80px
            height 20px
            margin 0 3px

        &_volume_button_input
            height 20px
            width 85%
            &::-webkit-slider-thumb
                width 10px
                height 10px
                margin -4px 0 0 0
            &::-moz-range-track
                height 2px
            &::-moz-range-thumb
                width 10px
                height 10px
                margin -4px 0 0 0
        
        &_search_button_input
            font-size 0.62rem
            display block
        &_config_button_input-box
            &_text
                font-size 0.46rem
    & .puravita-controller-sidebar 
        max-width 100%
        