.puravita-controller
    width 100%
    z-index 9
    padding 80px 0 40px 0
    
.puravita-player-screen-480p, .puravita-player-screen-360p
    .puravita-controller
        padding 20px 0 10px 0

.puravita-player-screen-mobile
    .puravita-controller
        padding 10px 0 5px 0

