.puravita-canvas
    // @extends .pv-glass-black
    position absolute
    top 0
    right 0
    overflow hidden
    width 100%
    height 100%
    &_video, &_glass
        width 100%
        height 100%
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        margin auto
        z-index 1
        overflow hidden
        & video
            width 100%
            height 100%
    &_video_canvas
        position absolute
        top 0
        left -100%
    &_glass
        z-index 8
    &_animation, &_subtitle_controls
        position absolute
        top 0
        right 0
        width 100%
        height 100%
        z-index 1
        transition opacity 200ms ease
        transition-delay 200ms
        &_hide
            opacity 0
    &_subtitle_controls_hide
        pointer-events none
    &_subtitle_controls
        &_panel
            width 520px
            margin-bottom 40px
            &_header
                padding 0.95rem 0
                font-size 0.9rem
                color #FFFFFF
                text-align center
            &_item
                @extends .pv-glass
                border-radius 12px
                padding 0.95rem 0
                margin 0.95rem 0
                display flex
                align-items center
                justify-content center
                flex-wrap wrap
                &-label
                    font-size 0.95rem
                    color #FFFFFF
                    text-align left
                    width 30%
                &-color, &-range
                    width 50%
                    display flex
                    align-items center
                    justify-content flex-end
                    flex-wrap wrap
                &-small-letter
                    font-size 0.95rem
                &-big-letter
                    font-size 1.40rem
                &-small-letter, &-big-letter
                    color #ffffff
                &-range-box
                    width 80%
                    padding 0 0.5rem
                    position relative
                    display flex
                    align-items center
                    justify-content center
                    flex-wrap wrap
                    &_pipe
                        position absolute
                        height 22px
                        width 1%
                        background-color #fff
                        top 0
                        bottom 0
                        margin auto 0
                        z-index 0
                        &:nth-child(1)
                            left 20%
                        &:nth-child(2)
                            left 40%
                        &:nth-child(3)
                            left 60%
                        &:nth-child(4)
                            left 80%
                &-input 
                    width 100%
                    position relative
                    z-index 4
                    cursor pointer
                    -webkit-appearance none
                    -moz-appearance none
                    background-color transparent
                    &:focus
                        outline none
                        &::-webkit-slider-runnable-track
                            background-color #ffffff
                        &::-moz-range-track
                            background-color #ffffff
                    &::-webkit-slider-runnable-track
                        transition background-color 220ms ease
                        background-color rgba(255, 255, 255, 0.4)
                        height 2px
                        border-radius 4px      
                    &::-webkit-slider-thumb
                        background-color #FFFFFF
                        -webkit-appearance none
                        width 16px
                        height 16px
                        border-radius 100%
                        margin -7px 0 0 0
                    &::-moz-range-track
                        transition background-color 220ms ease
                        background-color rgba(255, 255, 255, 0.4)
                        height 2px
                        border-radius 4px
                    &::-moz-range-thumb
                        background-color #FFFFFF
                        -webkit-appearance none
                        width 16px
                        height 16px
                        border-radius 100%
                        margin -7px 0 0 0
                        border none
        &_radio
            margin 0 0.6rem
            & input
                display none
                &:checked ~ label i
                    &:after
                        transform scale(0.8)
            & label
                font-size 0.85rem
                color #FFFFFF
                cursor pointer
                i
                    display inline-block
                    vertical-align middle
                    width 24px
                    height 24px
                    margin-right 0.42rem
                    border-radius 100%
                    border-width 2px
                    border-style solid
                    position relative
                    &:after
                        content ""
                        position absolute
                        left 0
                        right 0
                        top 0
                        bottom 0
                        margin auto
                        width 20px
                        height 20px
                        transition transform 220ms ease
                        border-radius 100%
            &_white
                & i
                    border-color #FFFFFF
                    &:after
                        background-color #ffffff
            &_yellow
                & i
                    border-color #FFF59D
                    &:after
                        background-color #FFF59D
    &_animation
        &:after
            background rgba( 0, 0, 0, 0.7 )
            content ""
            display block
            width 100%
            height 100%
            position absolute
            top 0
            left 0

    &_animation_distort, &_animation_distort image
        width 100%
        height 100%
    &_subtitle_controls
        z-index 9
        display flex
        align-items center
        justify-content center
        flex-wrap wrap

.puravita-player-screen-480p .puravita-canvas
    &_subtitle_controls
        &_panel
            margin-bottom 120px

.puravita-player-screen-360p .puravita-canvas
    &_subtitle_controls
        position relative
        top -60px
        &_panel
            &_header
                padding 0.4rem 0
             &_item
                padding 0.45rem 0
                margin 0.45rem 0
                &-input 
                    &::-webkit-slider-thumb
                        width 12px
                        height 12px
                        margin -5px 0 0 0
                    &::-moz-range-thumb
                        width 12px
                        height 12px
                        margin -5px 0 0 0
                &-range-box
                    &_pipe
                        height 12px
                        width 1px
                &-big-letter
                    font-size 1.1rem

.puravita-player-screen-mobile .puravita-canvas
    display none
