.puravita-controller
    width 100%
    z-index 9
    padding 80px 0 40px 0
    &_subtitle
        width 90%
        margin 0.65rem auto
        text-align center
        font-size 18px
        font-weight 500
        color #FFFFFF
.puravita-player-screen-480p, .puravita-player-screen-360p
    .puravita-controller
        padding 20px 0 10px 0
        &_subtitle
            font-size 12px
            color #FFFFFF

.puravita-player-screen-mobile
    .puravita-controller
        padding 10px 0 5px 0
        &_subtitle
            font-size 10px
            color #FFFFFF

