.puravita-progressbar
    width 90%
    margin 0 auto
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    &_barbox
        position relative
        width 100%
        display flex
        justify-content center
        align-items center
        &:hover
            & .puravita-progressbar_bar_loadbuffer, & .puravita-progressbar_bar_progress
                height 8px
    &_bar
        width calc(100% - 80px)
        background-color rgba(255, 255, 255, 0.5)
        position relative
        border-radius 8px
        cursor pointer
        margin 11px 0        
        &_loadbuffer, &_progress, &_progress_track
            height 2px
            border-radius 8px
            transition-duration 20ms
            transition-timing-function linear
            transition-property width
            transition 220ms height ease
        &_progress_track
            position absolute
            width 100%
            left 0
            top 0
            bottom 0
            margin auto 0
            z-index 4
            height 20px
        &_loadbuffer
            z-index 1
            background-color rgba(255, 255, 255, 0.6)
            width 0
            position absolute
            left 0
            top 0
            bottom 0
            margin auto 0
        &_progress
            width 0
            background-color #fff
            z-index 2
            position relative
            &_dot
                width 22px
                height 22px
                border-radius 100%
                background-color rgba(255, 255, 255, 0.5)
                position absolute
                top 0
                bottom 0
                margin auto 0
                right -10px
                transition 220ms transform ease
                z-index -1
                &:hover
                    transform scale(1.12)
                &:after
                    content ""
                    display block
                    width 18px
                    height 18px
                    border-radius 100%
                    background-color #fff
                    position absolute
                    top 0
                    right 0
                    left 0
                    bottom 0
                    margin auto
    &_markup-timeline
        width 22px
        height 22px
        border-radius 100%
        background-color #ffffff
        position absolute
        top 0
        bottom 0
        margin auto 0
        margin-left -11px
        z-index 4
        cursor pointer
        transition 220ms transform ease
        & svg
            width 18px
            position absolute
            margin auto 
            top 0
            right 0
            left 0
            bottom 0
        &:hover
            transform scale(1.12)

.puravita-player-screen-480p
    & .puravita-progressbar
        &_bar_progress_dot
            width 18px
            height 18px
            &:after
                width 14px
                height 14px
        &_markup-timeline
            width 18px
            height 18px
            margin-left -9px
            & svg
                width 14px

.puravita-player-screen-360p, .puravita-player-screen-mobile
    & .puravita-progressbar
        &_progress_track
            height 16px
        &_bar_progress_dot
            width 14px
            height 14px
            &:after
                width 10px
                height 10px
        &_markup-timeline
            width 14px
            height 14px
            margin-left -7px
            & svg
                width 10px

.puravita-player-screen-mobile
    & .puravita-progressbar
        &_bar
            width calc(100% - 70px)
        &_markup-timeline
            display none