.puravita-progressbar
    width 90%
    margin 0 auto
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    &_barbox
        position relative
        width 100%
        display flex
        justify-content center
        align-items center
    &_bar
        width calc(100% - 80px)
        background-color rgba(255, 255, 255, 0.5)
        position relative
        border-radius 8px
        cursor pointer
        margin 11px 0
        &_loadbuffer, &_progress
            height 2px
        &_loadbuffer
            z-index 1
            background-color rgba(255, 255, 255, 0.6)
            width 63%
            position absolute
            left 0
            top 0
            bottom 0
            margin auto 0
        &_progress
            width 37.463%
            background-color #fff
            z-index 2
            position relative
            &_dot
                width 22px
                height 22px
                border-radius 100%
                background-color rgba(255, 255, 255, 0.5)
                position absolute
                top -10px
                right -10px
                transition 220ms transform ease
                &:hover
                    transform scale(1.12)
                &:after
                    content ""
                    display block
                    width 18px
                    height 18px
                    border-radius 100%
                    background-color #fff
                    position absolute
                    top 0
                    right 0
                    left 0
                    bottom 0
                    margin auto
    &_markup-timeline
        width 22px
        height 22px
        border-radius 100%
        background-color #ffffff
        position absolute
        top 0
        bottom 0
        margin auto 0
        left 22%
        z-index 4
        cursor pointer
        transition 220ms transform ease
        & svg
            width 18px
            position absolute
            margin auto 
            top 0
            right 0
            left 0
            bottom 0
        &:hover
            transform scale(1.12)