// Todo: Remover essas dimensões státicas e o background
.puravita-player
    max-width 1920px
    width 100%
    height 1080px
    margin 0 auto
    position relative
    background-size 100%
    background-position center center
    background-image url('../../../images/banner.jpg')
    overflow hidden
    & button
        transition ease 200ms transform
        &:focus
            outline none
    &.puravita-player-screen-480p
        max-width 1100px
        height 480px

    &.puravita-player-screen-720p
        max-width 1280px
        height 720px

    &.puravita-player-screen-360p
        max-width 640px
        height 360px
        
    &.puravita-player-screen-mobile
        max-width 320px
        height 180px