.puravita-timetext
    text-align left
    font-size 14px
    color #FFF
    width 80px
    padding 0 0 0 0.8rem
    box-sizing border-box

.puravita-player-screen-480p .puravita-timetext
    font-size 12px

.puravita-player-screen-360p, .puravita-player-screen-mobile 
    & .puravita-timetext
        font-size 0.70em
        text-align center

.puravita-player-screen-mobile 
    & .puravita-timetext
        width 70px