.pv-glass
    background rgba( 255, 255, 255, 0.55 )
    backdrop-filter blur( 4px )
    -webkit-backdrop-filter blur( 4px )
    border 1px solid rgba( 255, 255, 255, 0.18 )

.pv-glass-black
    background rgba( 0, 0, 0, 0.55 )
    backdrop-filter blur( 8px )
    -webkit-backdrop-filter blur( 8px )
    border 1px solid rgba( 255, 255, 255, 0.18 )

.is-blocked, .is-blocked *
    cursor not-allowed !important